Local_Authority_Districts_(December_2020)_UK_BFC.cpg
Local_Authority_Districts_(December_2020)_UK_BFC.dbf
Local_Authority_Districts_(December_2020)_UK_BFC.prj
Local_Authority_Districts_(December_2020)_UK_BFC.shp
Local_Authority_Districts_(December_2020)_UK_BFC.shx
Local_Authority_Districts_(December_2020)_UK_BFC.xml
